<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{[%d{h:mm:ss a}]}{blue} %highlight{(%logger @ %level)} %msg%n"/>
        </console>
        <RollingFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{h:mm:ss a}] (%-5level @ %t) (%logger{36}) %msg%n"/>
            <OnStartupTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>